.back
  %table.table
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
        .black
      %td
        .white
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
        .white
      %td
        .black
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td