* {
  box-sizing: border-box;
}


.header {
  height: 150px;
  width: 100vw;
  background-color: orange;

  .header-top {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    line-height: 150px;

    .header-top__name {
      font-size: 50px;
      margin: auto;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 25px;
    }
  }
}

.main {
  height: calc(100vh - 150px - 20px);
  width: 100vw;
  background-color: palegreen;

  .center {
    height: 100%;
    width: 1300px;
    background-color: red;
    text-align: center;
    margin: auto;
    
    .center-btn {
      width: 400px;
      margin: auto;
      padding-top: 220px;

      a {
        line-height: 100px;
        text-decoration: none;
        color: white;
        font-size: 30px;
        width: 50px;

        .choose-btn {
          height: 100px;
          width: 400px;
          background-color: skyblue;
          margin-bottom: 100px;
          margin:0 auto 80px;
          border-radius: 10px;
        }
      }
    }
  }
}

.footer {
  height: 20px;
  text-align: center;
}